<div class="card text-bg-light mb-3" style="width: 60rem; cursor: pointer;">
    <div class="card-header" style="display: flex; justify-content: space-between;">
        <span  style=" font-size: 18px;">Job ID - {{ job.jobId }}</span>
        <span *ngIf="job.status === 'applied'" style="margin-left: auto; font-size: 18px;">Status - {{ job.status }}</span>
    </div>
    <div class="card-body">

        <div class="row p-3">
            <div class="col-4 d-flex align-items-center">

                <div class="card rounded-2" style="width: 60px; height: 60px; display: flex; justify-content: center; align-items: center;">
                    <img class="rounded-2" src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1710832065/cyan-paint-brush-band-766278995_ikd5gy.jpg" alt="Company Logo" style="width: 50px; height: 50px;">
                </div>

                <div class="ms-2">
                    <h6 class=" mb-1 " style="font-size: 18px; color: #333; ">Company Name</h6>
                    <p class=" mb-0 " style="font-size: 18px; color: #555;">{{job.jobRoleTitle}}</p>
                </div>

            </div>
        
            <!-- 2nd Column: Location -->
            <div class="col-2">
                <h5 class="mb-1" style="font-size: 16px; color: #333; margin-top: 10px; ">Location</h5>
                <p class="mb-0" style="font-size: 16px; color: #555;">{{job.location}}</p>
            </div>
        
            <!-- 3rd Column: Platform -->
            <div class="col-2">
                <h5 class="mb-1" style="font-size: 16px; color: #333;margin-top: 10px;">Platform</h5>
                <p class="mb-0" style="font-size: 16px; color: #555;">{{job.platform}}</p>
            </div>
        
            <!-- 4th Column: Posted On -->
            <div class="col-2">
                <h5 class="mb-1" style="font-size: 16px; color: #333; margin-top: 10px;">Posted On</h5>
                <p class="mb-0" style="font-size: 16px; color: #555; ">{{job.postedOn | date: 'dd/MM/yyyy' }}</p>
            </div>

                   <!-- 4th Column: Posted On -->
            <div *ngIf="job.status==='active'" class="col-2 text-center" style="margin-top: 10px;">
                <p (click)="viewDetails(job)" style="font-size: 16px; text-decoration: underline; cursor: pointer; margin-top: 10px; ">View More</p>
            </div>

        </div>
        
    </div>
</div>
