<!-- src/app/confirm-registration/confirm-registration.component.html -->
<h3 class="text-center mb-5">Important for project </h3> 
<div class="container">
    <div class="row">
      <div class="col-md-4 mb-2">
        <button class="btn btn-danger w-100" (click)="showJobFieildsError()">Fill all fields for job</button>
      </div>
      <div class="col-md-4 mb-2">
        <button class="btn btn-success w-100" (click)=" showJobCreatedSuccess()">JOb created successfully</button>
      </div>
      <div class="col-md-4 mb-2">
        <button class="btn btn-danger w-100" (click)="showErrorJobCreating()">Error creating job</button>
      </div>
      <div class="col-md-4 mb-2">
        <button class="btn btn-success w-100" (click)=" showJobUpdatedSuccess()">Job updated successfully</button>
      </div>

      <div class="col-md-4 mb-2">
        <button class="btn btn-success w-100" (click)=" showJobClosedSuccess()">Job closed successfully</button>
      </div>
      <div class="col-md-4 mb-2">
        <button class="btn btn-success w-100" (click)=" showJobReopenedSuccess()">Job reopened successfully</button>
      </div>

      <div class="col-md-4 mb-2">
        <button class="btn btn-success w-100" (click)=" showJobDeletedSuccess()">Job deleted successfully</button>
      </div>

      <div class="col-md-4 mb-2">
        <button class="btn btn-success w-100" (click)="  showJobConfirmClosed()">Cpnfirm close job</button>
      </div>


      
      <div class="col-md-4 mb-2">
        <button class="btn btn-success w-100" (click)="  showJobConfirmReopen()">Confirm reopen job</button>
      </div>


      <div class="col-md-4 mb-2">
        <button class="btn btn-success w-100" (click)="showJobConfirmDelete()">Confirm delete job</button>
      </div>




      
      <div class="col-md-4 mb-2">
        <button class="btn btn-success w-100" (click)="  showJobConfirmApply()">Confirm apply job</button>
      </div>


      <div class="col-md-4 mb-2">
        <button class="btn btn-success w-100" (click)="  showJobConfirmWtihdraw()">Confirm withdraw job</button>
      </div>


      <div class="col-md-4 mb-2">
        <button class="btn btn-success w-100" (click)=" showJobAppliedSuccess()">Job applied successfully</button>
      </div>
      <div class="col-md-4 mb-2">
        <button class="btn btn-success w-100" (click)=" showJobWithdrawnSuccess()">Job withdrawn successfully</button>
      </div>

      <div class="col-md-4 mb-2">
        <button class="btn btn-success w-100" (click)=" showJobSavedSuccess()">Job saved successfully</button>
      </div>

      <div class="col-md-4 mb-2">
        <button class="btn btn-success w-100" (click)="showJobUnsavedSuccess()">Job unsave successfully</button>
      </div>





  
    </div>
  </div>

<br>

  <h3 class="text-center mb-5 mt-5">Alternate alerts</h3> 
  <div class="container">

  </div>
  