<header>
  <nav class="navbar  shadow bg-body-secondary fixed-top" style="height: 55px;">

    <div class="navbar-brand d-flex align-items-center" style="text-decoration: none; color: black; cursor: pointer;margin-top: -10px;">
      <img class="logo" style="margin-left: 20px; margin-right: 10px;" src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1713107223/Screenshot_2024-04-14_203418-removebg-preview_hg6usb.png" alt="logo" width="50" height="50">
      <div class="logo_name me-3" *ngIf="sidebarOpen">Creative Hub</div>
      <i [ngClass]="!sidebarOpen ? 'bi bi-justify' : 'bi bi-justify'" id="btn" style="font-size: 1.5rem;" (click)="toggle()"></i>
    </div>

    <div class="d-flex align-items-center" style="margin-right: 40px;margin-top: -10px; ">
      <button type="button" class="btn btn-light rounded-circle me-3">
        <i class="bi bi-chat-square-text" style="font-size: 1.3rem; color: black;"></i>
      </button>

      <button type="button" class="btn btn-light rounded-circle me-3" aria-expanded="false">
        <i class="bi bi-bell" style="font-size: 1.3rem; color: black;"></i>
      </button>

      <span class="me-3">User Name</span>

      <button class="nav-link d-flex justify-content-center align-items-center rounded-circle text-decoration-none bg-white" aria-expanded="false">
        <img src="https://res.cloudinary.com/dpp8aspqs/image/upload/v1728457988/profie_images_vq30kd.png" alt="Profile Image" style="width: 40px; height: 40px; border-radius: 50%;">
      </button>

    </div>

  </nav>
</header>