
<div class="container">

  <table class="table" style="border: 1px solid; width: 100%;">
    <thead style="border: 1px solid; font-size: 14px;">
      <tr style="border: 1px solid;">
        <th style="border: 1px solid; width: 5%;">S.No</th>
        <th style="border: 1px solid; width: 10%;">Job ID</th>
        <th style="border: 1px solid; width: 15%;">Job Role</th>
        <th style="border: 1px solid; width: 10%;">Job Type</th>
        <th style="border: 1px solid; width: 10%;">Location</th>
        <th style="border: 1px solid; width: 10%;">Salary</th>

        <th style="border: 1px solid; width: 10%;">Posted On</th>

        <th style="border: 1px solid; width: 10%;">Status</th>
        <th style="border: 1px solid; width: 25%;">Actions</th>
      </tr>
    </thead>
    <tbody style="border: 1px solid; font-size: 14px;">

        <tr style="border: 1px solid;" *ngFor="let job of jobs; let i = index">            
            <td style="border: 1px solid; text-align: center; ">{{ i + 1 }}</td>
            <td style="border: 1px solid; text-align: center;">{{job.jobId}}</td>
            <td style="border: 1px solid; text-align: center;">{{job.jobRoleTitle}}</td>
            <td style="border: 1px solid; text-align: center;">{{job.jobType}}</td>
            <td style="border: 1px solid; text-align: center;">{{job.location}}</td>
            <td style="border: 1px solid; text-align: center;">{{job.salary}}</td>

            <td style="border: 1px solid; text-align: center;">{{ job.postedOn | date: 'dd-MM-yyyy' }}</td>

            <td style="border: 1px solid; text-align: center;">{{job.status}}</td>
            <td style="border: 1px solid;">
              <div style=" display: flex; justify-content: space-around;">
                <button  class="btn btn-sm btn-info" *ngIf="job.status == 'active'"  (click)="viewDetails(job)">View</button>
                <button class="btn btn-sm btn-warning" *ngIf="job.status == 'active'" (click)="confirmClose(job)">Close</button>
                <button class="btn btn-sm btn-info" *ngIf="job.status === 'closed'" (click)="confirmReopen(job)">Reopen</button>
                <button class="btn btn-sm btn-danger" *ngIf="job.status === 'closed'" (click)="confirmDelete(job)">Delete</button>
              </div>

            </td>
            
        </tr>


    </tbody>
  </table>

</div>



      










  