<div class="container" *ngIf="!isLoading">
    <h5 class="mb-3">Create Job</h5>
    
    <form [formGroup]="jobPostForm" (ngSubmit)="submitJobPost()">
        
        <div class="row mb-3">
        
            <div class="col">
                <label for="jobId" class="form-label fw-bold">Job ID <span class="required">*</span></label>
                <input type="text" id="jobId" formControlName="jobId" class="form-control form-control-sm" placeholder="Enter the Job ID" required pattern="^[0-9]*$" minlength="6" maxlength="6">
                <small *ngIf="jobPostForm.get('jobId')?.hasError('required') && jobPostForm.get('jobId')?.touched" class="text-danger">Job ID is required.</small>
                <small *ngIf="jobPostForm.get('jobId')?.hasError('pattern') && jobPostForm.get('jobId')?.touched"  class="text-danger">Job ID must only contain numbers.</small>
                <small *ngIf="jobPostForm.get('jobId')?.hasError('minlength') && jobPostForm.get('jobId')?.touched" class="text-danger">Job ID must be 6 digits long.</small>
                <small *ngIf="jobPostForm.get('jobId')?.hasError('maxlength') && jobPostForm.get('jobId')?.touched" class="text-danger">Job ID cannot be longer than 6 digits.</small>
            </div>
        
            <div class="col">
                <label for="jobRoleTitle" class="form-label fw-bold">Job Role Title <span class="required">*</span></label>
                <input type="text" id="jobRoleTitle" formControlName="jobRoleTitle" class="form-control form-control-sm" placeholder="Enter the job role" required>
                <small *ngIf="jobPostForm.get('jobRoleTitle')?.hasError('required') && jobPostForm.get('jobRoleTitle')?.touched" class="text-danger">Job Role Title is required. </small>
                <small *ngIf="jobPostForm.get('jobRoleTitle')?.hasError('pattern') && jobPostForm.get('jobRoleTitle')?.touched" class="text-danger">Job Role Title can only contain letters, spaces, and symbols like - or /.</small>
        
            </div>
        

            <div class="col">
                <label for="jobType" class="form-label fw-bold">Job Type <span class="required">*</span></label>
                <select id="jobType" formControlName="jobType" class="form-select form-select-sm" required>
                    <option value="">Select Job Type</option>
                    <option value="Full-time">Full-time</option>
                    <option value="Part-time">Part-time</option>
                    <option value="Contract">Contract</option>
                    <option value="Freelancer">Freelancer</option>
                </select>
                <small *ngIf="jobPostForm.get('jobType')?.hasError('required') && jobPostForm.get('jobType')?.touched" class="text-danger">Job Type is required.</small>
            </div>
        
        </div>

        <!--Experience, location-->
        <div class="row mb-3">

            <div class="col">
                <label for="platform" class="form-label fw-bold">Platform<span class="required">*</span></label>
                <input type="text" id="platform" formControlName="platform" class="form-control form-control-sm" placeholder="Enter the experience" required>
                <small *ngIf="jobPostForm.get('platform')?.hasError('required') && jobPostForm.get('platform')?.touched" class="text-danger">Platform is required. </small>
                <small *ngIf="jobPostForm.get('platform')?.hasError('pattern') && jobPostForm.get('platform')?.touched" class="text-danger">Platform can only contain letters, spaces, and symbols like - or /.</small>

            </div>

            <div class="col">
                <label for="salary" class="form-label fw-bold">Salary <span class="required">*</span></label>
                <select id="salary" formControlName="salary" class="form-select form-select-sm" aria-placeholder="select salary range" required>
                    <option value="">Select Salary Range</option>
                    <option value="3-5 Lakhs">3-5 Lakhs</option>
                    <option value="6-9 Lakhs">6-9 Lakhs</option>
                    <option value="10-12 Lakhs">10-12 Lakhs</option>
                    <option value="15-18 Lakhs">15-18 Lakhs</option>
                </select>
                <small *ngIf="jobPostForm.get('salary')?.hasError('required') && jobPostForm.get('salary')?.touched" class="text-danger">Salary is required.</small>
            </div>


            <div class="col">
                <label for="experience" class="form-label fw-bold">Experience <span class="required">*</span></label>
                <input type="text" id="experience" formControlName="experience" class="form-control form-control-sm" placeholder="Enter the experience" required>
                <small *ngIf="jobPostForm.get('experience')?.hasError('required') && jobPostForm.get('experience')?.touched" class="text-danger">Experience is required. </small>
                <small *ngIf="jobPostForm.get('experience')?.hasError('pattern') && jobPostForm.get('experience')?.touched" class="text-danger">Experience must be a number.</small>
            </div>


        </div>

        <!--Experience, location-->
        <div class="row mb-3">

            <div class="col">
                <label for="location" class="form-label fw-bold">Location <span class="required">*</span></label>
                <input type="text" id="location" formControlName="location" class="form-control form-control-sm" placeholder="Enter the location" required>
                <small *ngIf="jobPostForm.get('location')?.hasError('required') && jobPostForm.get('location')?.touched" class="text-danger">Location is required.</small>
            </div>

            <div class="col">
                <label for="vacancy" class="form-label fw-bold">Vacancy<span class="required">*</span></label>
                <input type="text" id="vacancy" formControlName="vacancy" class="form-control form-control-sm" placeholder="Enter the location" required>
                <small *ngIf="jobPostForm.get('vacancy')?.hasError('required') && jobPostForm.get('vacancy')?.touched" class="text-danger">Vacancy is required.</small>
                <small *ngIf="jobPostForm.get('vacancy')?.hasError('pattern') && jobPostForm.get('vacancy')?.touched" class="text-danger">Vacancy must be a number.</small>
            </div>

            <div class="col">
                <label for="applyByDate" class="form-label fw-bold">Apply By Date: <span class="required">*</span></label>
                <input type="date" id="applyByDate" formControlName="applyByDate" class="form-control form-control-sm" required>
                <small *ngIf="jobPostForm.get('applyByDate')?.hasError('required') && jobPostForm.get('applyByDate')?.touched" class="text-danger">Apply by date is required.</small>
            </div>

        </div>



        <div class="row">
            <div class="col">
                <label for="jobDescription" class="form-label fw-bold">Job Description <span class="required">*</span></label>
                <textarea   class="form-control form-control-sm" [placeholder]="'Enter job description'" formControlName="jobDescription" required ></textarea>
                <div *ngIf="jobPostForm.get('jobDescription')?.hasError('required') && jobPostForm.get('jobDescription')?.touched" class="text-danger">Job description is required.</div>
            </div>
        </div>

       

        <div class="footer mt-5" style="justify-content: space-between; display: flex;">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" [disabled]="jobPostForm.invalid" class="btn btn-success">Submit</button>
        </div>
    </form>
</div>



<div class="container" *ngIf="isLoading">
    <div class="text-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div class="mt-3">
            <p>Creating Job Post</p>
        </div>
    </div>
</div>