.required {
    color: red;
}

.text-danger {
    font-size: 14px;
    color: red;
}

.form-label {
    font-size: 14px;
}

.modal-footer {
    justify-content: space-between; /* Adjusts spacing between buttons */
}
